<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br/>
      <strong>Cookbooks</strong> <%= 0 %><br/>
      <strong>Recipes</strong> <%= 0 %><br/>
      <strong>Menus</strong> <%= 0 %><br/>
      <strong>Shopping Lists</strong> <%= 0 %><br/>
    </td>
  </tr>
</table>
